@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Write your global styles here */
body {
  @apply to-gray-600 from-gray-800 bg-gradient-to-r text-gray-200;
}

h1 {
  @apply my-4 text-center text-3xl font-bold;
}

p {
  @apply my-2 text-lg;
}

input {
  @apply text-gray-900 bg-gray-200;
}

textarea {
  @apply text-gray-900 bg-gray-200;
}

button {
  @apply rounded  bg-gradient-to-r to-violet-700 from-violet-900 px-3 py-1 font-bold text-white shadow shadow-black hover:from-violet-950 hover:to-violet-800;
}

button[type="submit"] {
  @apply rounded  bg-gradient-to-r to-violet-700 from-violet-900 px-3 py-1 font-bold text-white shadow shadow-black hover:from-violet-950 hover:to-violet-800;
}

@media (min-width: 690px) {
  body {
    max-width: 650px;
    margin: 0 auto;
  }
}
@media (min-width: 1100px) {
  .left-nav {
    margin-left: calc(20vw);
  }
  .right-nav {
    margin-right: calc(20vw);
  }
}
@media (min-width: 1600px) {
  .left-nav {
    margin-left: calc(30vw);
  }
  .right-nav {
    margin-right: calc(30vw);
  }
}
